// --------------------------------------------------------------------
// GRID Layout --------------------------------------------------------
// --------------------------------------------------------------------

@supports (grid-area: auto) {
  // --------------------------------------------------------------------
  // SECTION "PORTFOLIO"

  .sm-c-portfolio {
    @include phoneBig-sz2() {
      &__container {
        display: grid;

        min-width: 0;

        grid-template-rows: 239px 493px 262px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          'img1 img2'
          'img3 img3'
          'img4 img5';

        &__figure {
          margin: 0;

          @for $i from 1 through 5 {
            &:nth-of-type(#{$i}) {
              grid-area: img#{$i};
            }
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    @include tabletSmall-sz3() {
      &__container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          'img1 img2 img2'
          'img3 img3 img5'
          'img3 img3 img4';
      }
    }

    @for $i from 2 through 6 {
      @include mediaQueries-2to6($i) {
        height: nth($sm-portfolio--content-height, $i);

        &__container {
          height: nth($sm-portfolio__container-height, $i);
          gap: nth($sm-portfolio__container-gap, $i);

          &__figure {
            &__card {
              > h3 {
                padding-bottom: nth($sm-portfolio__container__figure__card__h3-fz, $i) / 2.5;
              }
              > p {
                max-width: nth($sm-portfolio__container__figure__card--content-maxW, $i) / 2;
                padding-bottom: nth($sm-portfolio__container__figure__card_p-padding-bottom, $i) /
                  2.5;
              }
            }
            @if ($i != 2) {
              &:nth-of-type(2) {
                .sm-c-portfolio__container__figure__card {
                  > p {
                    max-width: nth($sm-portfolio__container__figure__card--content-maxW, $i);
                  }
                }
              }
            }
            &:nth-of-type(3) .sm-c-portfolio__container__figure__card {
              > h3 {
                padding-bottom: nth($sm-portfolio__container__figure__card__h3-fz, $i);
              }
              > p {
                max-width: nth($sm-portfolio__container__figure__card--content-maxW, $i);
                padding-bottom: nth($sm-portfolio__container__figure__card_p-padding-bottom, $i);
              }
            }
          }
        }
      }
    }
  }
}
