// --------------------------------------------------------------------
// Basic responsive Layout --------------------------------------------
// --------------------------------------------------------------------

// --------------------------------------------------------------------
// GLOBAL

html {
  min-height: 100vh;
  width: 100%;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.sm-c-nav,
.sm-c-about > p,
.sm-c-portfolio__container {
  width: nth($sm-innerSection-width, 1);

  margin: 0 auto;

  @for $i from 2 through 6 {
    @include mediaQueries-2to6($i) {
      width: nth($sm-innerSection-width, $i);
    }
  }
}

.sm-c-about,
.sm-c-portfolio,
.sm-c-testimonial,
.sm-c-footer {
  padding-top: nth($sm-section-padding-top, 1);
  padding-bottom: nth($sm-section-padding-bottom, 1);

  @for $i from 2 through 6 {
    @include mediaQueries-2to6($i) {
      padding-top: nth($sm-section-padding-top, $i);
      padding-bottom: nth($sm-section-padding-bottom, $i);
    }
  }
}

#content h2 {
  width: max-content;
  margin: 0 auto;
}

// --------------------------------------------------------------------
// NAVIGATION

.sm-c-nav {
  position: sticky;
  //  top: nth($sm-nav-top, 1);
  // left: 50vw;
  top: 0;
  // transform: translateX(-50%);
  height: nth($sm-nav-height, 1);
  margin: nth($sm-nav-top, 1) auto -1 * (nth($sm-nav-top, 1) + nth($sm-nav-height, 1));
  z-index: 10000;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @for $i from 2 through 6 {
    @include mediaQueries-2to6($i) {
      height: nth($sm-nav-height, $i);
      margin: nth($sm-nav-top, $i) auto -1 * (nth($sm-nav-top, $i) + nth($sm-nav-height, $i));
    }
  }
}

// --------------------------------------------------------------------
// HEADER

.sm-c-header {
  position: relative;
  width: 100%;

  height: nth($sm-header-height, 1);

  @for $i from 2 through 6 {
    @include mediaQueries-2to6($i) {
      height: nth($sm-header-height, $i);
    }
  }

  &__titleH1 {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: nth($sm-header__h1-top, 1);
    left: nth($sm-header__h1-left, 1);

    height: nth($sm-header__h1-height, 1);
    width: nth($sm-header__h1-width, 1);

    transform: matrix(0.99, -0.16, 0.16, 0.99, 0, 0);

    @for $i from 2 through 6 {
      @include mediaQueries-2to6($i) {
        top: nth($sm-header__h1-top, $i);
        left: nth($sm-header__h1-left, $i);
        height: nth($sm-header__h1-height, $i);
        width: nth($sm-header__h1-width, $i);
        transform: nth($sm-header__h1-transform, $i);
      }
    }

    > :last-child {
      align-self: flex-end;
      flex-grow: 0;
    }
  }

  &__link--ourWork {
    display: block;
    position: absolute;
    bottom: nth($sm-header__link--ourWork-bottom, 1);
    left: nth($sm-header__link--ourWork-left, 1);
    transform: translate(-50%, 0);
  }
}

// --------------------------------------------------------------------
// ASIDE "ABOUT"

.sm-c-about {
  > h2 {
    padding-bottom: nth($sm-about__h2-padding-bottom, 1);
    text-align: center;

    @for $i from 2 through 6 {
      @include mediaQueries-2to6($i) {
        padding-bottom: nth($sm-about__h2-padding-bottom, $i);
      }
    }
  }
  > p {
    text-align: center;
    @include phoneSmall-sz1() {
      min-width: 90%;
    }
  }
}

// --------------------------------------------------------------------
// SECTION "PORTFOLIO"

.sm-c-portfolio {
  box-sizing: content-box;
  padding-bottom: 0;
  // height: nth($sm-portfolio--content-height, 1);

  > * {
    box-sizing: border-box;
  }

  > h2 {
    padding-bottom: nth($sm-portfolio__h2-padding-bottom, 1);
    text-align: center;

    @for $i from 2 through 6 {
      @include mediaQueries-2to6($i) {
        padding-bottom: nth($sm-portfolio__h2-padding-bottom, $i);
      }
    }
  }

  &__container {
    min-width: 90%;
    &__figure {
      position: relative;

      margin: 0;
      margin-bottom: nth($sm-portfolio__container__figure-gap, 1);
      width: 100%;
      height: auto;

      &:last-of-type {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
      &__card {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        > * {
          flex-grow: 0;
          max-width: nth($sm-portfolio__container__figure__card--content-maxW, 1);
        }

        > h3 {
          text-align: center;
          padding-bottom: nth($sm-portfolio__container__figure__card__h3-fz, 1);
        }
        > p {
          text-align: center;
          padding-bottom: nth($sm-portfolio__container__figure__card_p-padding-bottom, 1);
        }
        &__link--more {
          position: relative;
        }

        @for $i from 2 through 6 {
          @include mediaQueries-2to6($i) {
            > * {
              max-width: nth($sm-portfolio__container__figure__card--content-maxW, $i);
            }
            > h3 {
              padding-bottom: nth($sm-portfolio__container__figure__card__h3-fz, $i);
            }
            > p {
              padding-bottom: nth($sm-portfolio__container__figure__card_p-padding-bottom, $i);
            }
          }
        }
      }
    }
  }
}

// --------------------------------------------------------------------
// SECTION "TESTIMONIAL"

.sm-c-testimonial {
  z-index: 0;
  position: relative;
  box-sizing: content-box;
  height: nth($sm-testimonial--content-height, 1);

  @for $i from 2 through 6 {
    @include mediaQueries-2to6($i) {
      height: nth($sm-testimonial--content-height, $i);
    }
  }

  > * {
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }

  &__radio {
    position: absolute;
    z-index: -10000;
    top: nth($sm-testimonial__slider-heigth, 1) + nth($sm-section-padding-top, 1);
    left: 50vw;
    @for $i from 2 through 6 {
      @include mediaQueries-2to6($i) {
        top: nth($sm-testimonial__slider-heigth, $i) + nth($sm-section-padding-top, $i);
      }
    }

    &--label {
      position: absolute;
      display: block;

      bottom: nth($sm-testimonial__radio_label-bottom, 1);
      left: 50vw;

      transform: translateX(-200%);
      &:nth-of-type(2) {
        transform: translateX(-50%);
      }
      &:nth-of-type(3) {
        transform: translateX(100%);
      }

      width: nth($sm-testimonial__radio_label-d, 1);
      height: nth($sm-testimonial__radio_label-d, 1);

      @for $i from 2 through 6 {
        @include mediaQueries-2to6($i) {
          bottom: nth($sm-testimonial__radio_label-bottom, $i);
          width: nth($sm-testimonial__radio_label-d, $i);
          height: nth($sm-testimonial__radio_label-d, $i);
        }
      }
    }
  }

  &__slider {
    position: relative;

    height: nth($sm-testimonial__slider-heigth, 1);
    width: nth($sm-testimonial__slider-width, 1);

    $tempColors: red, green, yellow;

    &__card {
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      z-index: 0;
      position: absolute;
      top: 0;
      height: 95%;
      width: 100%;
      background-color: $sm-testimonial-bg-color;
      transition: left 1.5s, transform 1.5s, opacity 1.5s;

      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          left: 50vw;
          transform: translateX(55%);
          opacity: 0;

          .sm-c-testimonial__radio#card0#{$i}:checked ~ .sm-c-testimonial__slider & {
            left: 0;
            transform: translateX(0);
            opacity: 1;

            z-index: 1;
          }
        }
      }
      img {
        height: nth($sm-testimonial__slider__img-d, 1);
        width: nth($sm-testimonial__slider__img-d, 1);
        margin-top: nth($sm-testimonial__slider__img-margin-top, 1);
      }

      h3 {
        padding: nth($sm-testimonial__slider__h3-padding, 1);
      }
    }

    @for $i from 2 through 6 {
      @include mediaQueries-2to6($i) {
        height: nth($sm-testimonial__slider-heigth, $i);
        width: nth($sm-testimonial__slider-width, $i);
        &__card {
          img {
            height: nth($sm-testimonial__slider__img-d, $i);
            width: nth($sm-testimonial__slider__img-d, $i);
            margin-top: nth($sm-testimonial__slider__img-margin-top, $i);
          }
          h3 {
            padding: nth($sm-testimonial__slider__h3-padding, $i);
          }
        }
      }
    }
  }
}

// --------------------------------------------------------------------
// FOOTER

.sm-c-footer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  height: nth($sm-footer-heigth, 1);
  padding: nth($sm-footer-padding, 1);

  * {
    flex-grow: 0;
  }

  &__logo {
    display: block;
    width: nth($sm-footer__logo-width, 1);
    height: nth($sm-footer__logo-height, 1);
  }

  &__infos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: nth($sm-footer__infos-width, 1);

    &__location {
      display: block;
      width: nth($sm-footer__infos__location-width, 1);
    }
    &__contact {
      display: block;
      width: nth($sm-footer__infos__contact-width, 1);
    }

    &__location > h3,
    &__contact > h3 {
      padding-bottom: nth($sm-footer__infos__h3-padding-bottom, 1);
    }
  }

  &__social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: nth($sm-footer__social-width, 1);
    height: nth($sm-footer__social-height, 1);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% + 20px);

      padding: 10px;

      @include animateBorders(
        'meet',
        2px,
        transparent,
        transparent,
        $sm-footer-font-color,
        0.125em
      );

      img {
        // box-sizing: content-box;
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }

  @for $i from 2 through 6 {
    @include mediaQueries-2to6($i) {
      height: nth($sm-footer-heigth, $i);
      padding: nth($sm-footer-padding, $i);
      &__logo {
        width: nth($sm-footer__logo-width, $i);
        height: nth($sm-footer__logo-height, $i);
      }
      &__infos {
        width: nth($sm-footer__infos-width, $i);

        &__location > h3,
        &__contact > h3 {
          padding-bottom: nth($sm-footer__infos__h3-padding-bottom, $i);
        }
        &__location {
          width: nth($sm-footer__infos__location-width, $i);
        }
        &__contact {
          width: nth($sm-footer__infos__contact-width, $i);
        }
      }
      &__social {
        width: nth($sm-footer__social-width, $i);
        height: nth($sm-footer__social-height, $i);
      }
    }
  }

  @include tabletSmall-sz3() {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;

    &__social {
      align-self: center;
    }
  }
}
